/node_modules
/html/hot
/html/storage
/html/arquivos
/storage/*.key
/storage/framework/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.composeer.lock
sisfre_*/
sisfre.zip
composer.lock
composer.lock
.vercel
/tmp
